@import 'https://fonts.googleapis.com/css?family=Lato:300,400,600,700';

$color-main-1: #002D72;
$color-main-2: #ffffff;
$color-main-3: #31261D;
$color-main-4: #68ace5; 

$black-semi-transparent: #000000aa;

$date-column-width: 11em;
$date-column-gap: 10px;

$slide-indicator-dims: 2em;

$small-threshold: 1000px;
$mobile-threshold: 548px;

$menu-width: 4em;
$menu-bar-length: 2em;

@mixin contrast-main-1() {
  background-color: $color-main-1;
  color: $color-main-2;
}

@mixin contrast-main-2() {
  background-color: $color-main-2;
  color: $color-main-3;
}

:root {
  @include contrast-main-2();
  font-family: 'Lato';
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: $color-main-1;
}

h2 {
  border-bottom: 1px solid gray;
}

header {
  @include contrast-main-1();
  .hero {
    box-sizing: border-box;
    font-size: 2em;
    height: 4em;
    margin: 0 20px 0;
    padding-top: 1em;
  }
}

nav {
  background-color: $color-main-4;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  input {
    display: none;
  }
  .menu {
    display: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  & > ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    justify-content: center;
    width: 100%;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    min-width: 7em;
    text-align: center;
    &:first-child {
      border-left: 1px solid $color-main-2;
    }
    border-right: 1px solid $color-main-2;
    a {
      display: block;
      padding: 10px;
      &.active{
        @include contrast-main-2();
      }
      &:hover:not(.active) {
        @include contrast-main-1();
      }
    }
  }
}

.nav-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 100%;
  a {
    color: $color-main-1;
    display: block;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      transition: all 0.4s ease;
      transform: scale(1.1);
    }
  }
}

footer {
  @include contrast-main-1();
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
  img {
    height: 100px;
  }
}

/* Index */

.slideshow {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: flex-end;
  margin: 25px auto;
  min-width: 400px;
  width: 80%;

  &-slide {
    border: 1px solid black;
    display: none;
    height: 100%;
    margin-bottom: -$slide-indicator-dims;
    order: 1;
    overflow: hidden;
    position: relative;
    width: 100%;   
    &-text {
      align-items: center;
      background-color: $black-semi-transparent;
      color: #ffffff;
      display: flex;
      height: $slide-indicator-dims;
      justify-content: center;
      position: absolute;
      top: 0;
      transition: all 0.5s;
      transform: translateY(-100%);
      width: 100%;
    }
    &:hover &-text {
      transform: translateY(0%);
    }
    &-img {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      & a {
        height: 100%;
        width: 100%;
      }
      & img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  input {
    display: none;

    & + label {
      align-items: center;
      background-color: $color-main-3;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      height: $slide-indicator-dims;
      justify-content: center;
      order: 2;
      width: $slide-indicator-dims;
      z-index: 9999;
    }

    &[type=radio]:checked + label {
      background-color: #aaaaaa;
      color: $color-main-3;
      & + .slideshow-slide {
        display: unset;
      }
    }
  }

  &-play {
    & + label::after {
      content: '\23F8';
    }
    &:checked + label::after {
      content: '\23F5';
    }
  }
}

/* News */

.news-item {
  display: grid;
  grid-column-gap: $date-column-gap;
  grid-template-columns: $date-column-width auto;
  grid-template-areas: 'a b' 'a c' 'a d';
  margin-bottom: 20px;
  &-date {
    grid-area: a;
    font-weight: bold;
  }
  &-title {
    grid-area: b;
    font-weight: bold;
  }
  &-img {
    grid-area: d;
    margin-top: 15px;
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
  &-text {
    grid-area: c;
  }
}

/* Publications */

.publications-section {
  margin-bottom: 10px;
}

.publication {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 2em auto auto;
  margin-bottom: 30px;
  margin-right: 10px;
  &-number {
    font-weight: bold;
    margin-left: 350px;
  }

  &-title {
    font-style: italic;
  }

  &-volume {
    font-weight: bold;
  }

  &-img {
    padding-left: 10px;
    img {
      display: block;
      width: 348px;
      height: 225px;
      border:1px solid black;
      margin-top: 2px;
    }
  }
}

/* People */

.member {
  display: grid;
  grid-template-columns: 15% auto;
  grid-column-gap: 20px;
  margin-bottom: 20px;
  &-img {
    width: 100%;
    img {
      max-height: 150px;
      max-width: 100%;
    }
  }
  &-data {
    &-name {
      font-weight: bold;
      margin-bottom: 0.75em;
    }
    &-line {
      margin-bottom: 0.25em;
    }
  }
}

.ai-inverse {
  color: $color-main-1;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
}

.main-content-wrapper {
  display: grid;
  flex: 1 0 auto;
  grid-template-columns: 75% 25%;
  margin: auto;
  min-width: $mobile-threshold;
  width: 80%;
}

.content-block {
  margin-bottom: 20px;
  width: 100%;
  p {
    text-align: justify;
  }
}

.sidebar {
  margin-left: 20px;
  margin-top: 40px;

  &-content {
    background-color: $color-main-4;
    padding: 10px 10px 20px;
    width: 100%;
  }
  
  &-news-item {
    display: block;
    margin-bottom: 10px;
    &-date {
      font-style: italic;
    }
  }

  h2 {
    border-bottom: none;
    color: $color-main-2;
    font-size: 1.3em;
    margin-bottom: 0.35em;
  }

  a {
    color: $color-main-2;
  }
}

/* Courses */

.course {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
    li {
      margin: 0.25em 0;
    }
  }
}

/* Jobs */

.job {
  display: grid;
  grid-column-gap: $date-column-gap;
  grid-template-areas: "a b" "a c" "a d" "a e" "a f" "a g" "a h" "a i";
  grid-template-columns: $date-column-width auto;
  margin-bottom: 20px;
  text-align: justify;
  &-date {
    grid-area: a;
    font-weight: bold;
  }
  &-stat {
    &-open {
      color: green;
    }
    &-closed {
      color: red;
    }
  }
  &-title-flyer {
    grid-area: b;
    font-weight: bold;
  }
  &-description {
    grid-area: c;
    text-align: justify;
  }
  &-quals {
    &-header {
      grid-area: d;
    }
    &-text {
      grid-area: e;
    }
  }
  &-appInstructions {
    &-header {
      grid-area: f;
    }
    &-text {
      grid-area: g;
    }
  }
  &-EqualEmploymentOpportunityStatement {
    &-header {
      grid-area: h;
    }
    &-text {
      grid-area: i;
    }
  }
}

@media screen and (max-width: $small-threshold) {
  .sidebar {
    display: none;
  }
  .publication-img {
    display: none;
  }
  .publication-number{
    margin-left: 0px;
  }
}

@media screen and (max-width: $mobile-threshold) {
  .main-content-wrapper {
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  nav {
    box-sizing: border-box;
    .menu {
      box-sizing: border-box;
      height: 3.25em;
      color: $color-main-2;
      cursor: pointer;
      display: inline-block;
      margin: 5px;
      position: relative;
      width: $menu-width;
      &-icon {
        display: block;
        width: 100%;
        &-bar {
          $bar-height: 3px;
          $bar-distance: 5px;
          background-color: $color-main-2;
          border-radius: 1px;
          display: block;
          height: $bar-height;
          margin: $bar-distance 0.5*($menu-width - $menu-bar-length);
          position: absolute;
          transition: 0.2s all ease;
          width: $menu-bar-length;
          &:nth-child(1) {
            top: $bar-distance;
          }
          &:nth-child(2) {
            top: 2*$bar-distance + $bar-height;
          }
          &:nth-child(3) {
            top: 3*$bar-distance + 2*$bar-height;
          }
        }
      }
      &-text {
        bottom: 0;
        display: block;
        position: absolute;
        text-align: center;
        transition: 0.2s all ease;
        width: 100%;
      }
    }

    ul {
      li {
        border: none !important;
      }
    }

    & > ul {
      display: unset;
      li {
        display: none;
      }
    }

    input:checked {
      & ~ ul li {
        display: unset;
      }
      & ~ .menu {
        .menu-icon {
          &-bar {
            margin-bottom: 0;
            margin-top: 0;
            &:nth-child(1) {
              top: 1em;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              top: 1em;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
  
  footer {
    .contact {
      width: 100%;
    }
  }

  .publication {
    grid-template-columns: 2em auto;
    &-img {
      display: none;
    }
    &-number {
      margin-left: 0px;
    }
  }

  .job {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: 30em auto;
    grid-template-areas: "b " "a" "c" "d" "e" "f" "g" "h" "i";
    margin-bottom: 20px;
  }
}
