{% extends "base.html" %}

{% block content %}
  <h1>Home</h1>
  <p>
    Welcome to the <i>Entropy for Energy</i> Laboratory at Johns Hopkins University.
  </p>
  
  <p>
    The Entropy for Energy (S4E) laboratory focuses on the discovery of materials for clean and renewable energy.
    Specifically, the S4E lab looks to leverage the stabilizing effects of disorder to innovate clean hydrogen production,
    nuclear waste management, waste-heat conversion, and electric grid technologies.
    The research is in line with the Materials Genome Initiative (<a href="https://www.mgi.gov/" target="_blank">MGI</a>):
    employing high-throughput first-principles calculations and machine learning/artificial intelligence algorithms for
    accelerated discovery and deployment of new materials.
  </p>
  <p>
    The group actively develops the <a href="https://arxiv.org/abs/2208.03052" target="_blank">aflow++ software framework</a>
    for autonomous materials design. It has been used to generate one of the largest databases for inorganic materials,
    the <a href="https://arxiv.org/abs/2207.09842" target="_blank">aflow.org repositories</a>, containing millions of
    compounds each characterized by hundreds of properties. The software framework and repositories have been employed for
    the discovery of new  <a href="https://doi.org/10.1126/sciadv.1602241" target="_blank">magnets</a> (the first ever
    designed by computational approaches), <a href="https://doi.org/10.1016/j.actamat.2016.09.017" target="_blank">superalloys</a>,
    <a href="https://doi.org/10.1038/s41467-018-07160-7" target="_blank">high-entropy carbides</a>,
    and <a href="https://doi.org/10.1038/s41467-020-19597-w" target="_blank">phase change memory compositions</a>.
    The work has been featured as part of the
    <a href="https://www.mgi.gov/sites/default/files/documents/MGI-2021-Strategic-Plan.pdf" target="_blank">White House’s Office of Science &amp; Technology Policy 2021 MGI Strategic Plan</a>.
  </p>
  <p>
    The S4E lab is hiring PhD students and postdoctoral researchers with backgrounds in materials science, physics, chemistry, and computer science.
    Click <a href="jobs.html">here</a> to apply.
  </p>
  {% if data.slideshow|length > 0 %}
    <div class="slideshow" id="slideshow_main">
      <input type="checkbox" id="slideshow_main_play" class="slideshow-play" checked>
      <label for="slideshow_main_play" class="slideshow-indicator"></label>
      {% for slide in data.slideshow %}
        {% if loop.index == 1 %}
          {% set checked = " checked" %}
        {% endif %}
        <input type="radio" id="slideshow_main_{{ loop.index - 1 }}" name="slideshow_main_indicators"{{ checked }}>
        <label class="slideshow-indicator" for="slideshow_main_{{ loop.index - 1 }}">
          {{ loop.index }}
        </label>
        <div class="slideshow-slide">
          <div class="slideshow-slide-text">{{ slide.text }}</div>
          <a class="slideshow-slide-img" href="{{ slide.url }}" target="_blank">
            <img src="{{ slide.img }}" alt="{{slide.text}}">
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% if data.slideshow|length > 0 %}
  {% block body_extra %}
    <script src="js/slideshow.js"></script>
  {% endblock %}
{% endif %}
