{% extends "base.html" %}

{% block content %}
  <h1>News</h1>
  <div id="news_items" class="news">
    {% for news in data.news %}
      <div class="news-item" id="{{ news.id }}">
        <span class="news-item-data">{{ news.date }}</span>
        <span class="news-item-title">{{ news.title }}</span>
        <span class="news-item-text">{{ news.message }}</span>
        <span class="news-item-img">
          {% if news.picture %}
            <img src="media/news/{{ news.picture }}" alt="Image for news {{ news.title }}">
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
