{% extends "base.html" %}

{% macro pub_html(pub, pub_number) %}
  <div class="publication">
    <div class="publication-img">
      {% if "filename" in pub %}
        <a href="media/publications/{{ pub.filename }}.pdf" target="_blank">
          <img src="media/publications/{{ pub.filename }}.png" alt="Graphical abstract for {{ pub.title }}">
        </a>
      {% endif %}
    </div>
    <div class="publication-number">{{ pub_number }}.</div>
    <div class="publication-data">
      <span class="publication-authors">{{ pub.authors }}</span>
      <span class="publication-title">{{ pub.title }}</span>
      {% if "titleBook" in pub %}
        in <span class="publication-book">{{ pub.titleBook }}</span>
      {% endif %}
      {% if "journal" in pub %}
        <span class="publication-journal">{{ pub.journal }}</span>
      {% endif %}
      {% if "volume" in pub %}
        <span class="publication-volume">{{ pub.volume }}</span>
      {% endif %}
      {% if "issue" in pub %}
        <span class="publication-issue">{{ pub.issue }}</span>
      {% endif %}
      {% if "status" in pub %}
        <span class="publication-status">{{ pub.status }}</span>
      {% endif %}
       (<span class="publication-year">{{ pub.year }}</span>)
      {% if "url" in pub %}
        <span class="publication-url">{{ pub.url }}</span>
      {% endif %}
      {% if "filename" in pub %}
        (<a href="media/publications/{{ pub.filename }}.pdf" target="_blank">PDF</a>)
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro build_publications(pubs) %}
  {% for year, pubs_year in pubs|dictsort(reverse=true) %}
    <h2 id="publications_{{ year }}">{{ year }}</h2>
    {% for pub in pubs_year %}
      {{ pub_html(pub, pub_number) }}
    {% endfor %}
  {% endfor %}
{% endmacro %}

{% block content %}
  <div class="nav-block">
    <a href="#articles">Journal Articles</a>
    <a href="#chapters">Book Chapters</a>
  </div>
  <h1 id="articles">Journal Articles</h1>
  <div class="publications-section" id="publications_articles">
    {{ build_publications(data.publications.journal) }}
  </div>
  <h1 id="chapters">Book Chapters</h1>
  <div class="publications-section" id="publications_books">
    {{ build_publications(data.publications.book) }}
  </div>
{% endblock %}
